*.pyc
*.egg-info
build
.coverage
.tox
cover
.testrepository
subunit.log
AUTHORS
ChangeLog
dist
*.egg
ceilometer/versioninfo
doc/source/api/ceilometer.*.rst
doc/source/api/tests.*.rst
doc/source/api/autoindex.rst
doc/source/sourcecode
*.mo
