*.egg*
*.mo
*.pyc
.coverage
.testrepository
.tox
AUTHORS
build/*
ceilometer/versioninfo
ChangeLog
cover/*
dist/*
doc/build/*
doc/source/sourcecode
etc/ceilometer/ceilometer.conf*
subunit.log
tools/lintstack.head.py
tools/pylint_exceptions
