alembic>=0.4.1
anyjson>=0.3.3
argparse
eventlet>=0.13.0
Flask>=0.10,<1.0
happybase>=0.4,<=0.6
iso8601>=0.1.8
jsonpath-rw>=1.2.0,<2.0
jsonschema>=2.0.0,<3.0.0
kombu>=2.4.8
lockfile>=0.8
lxml>=2.3
msgpack-python
MySQL-python
oslo.config>=1.2.0
pbr>=0.6,<1.0
pecan>=0.4.5
pymongo>=2.4
python-ceilometerclient>=1.0.6
python-glanceclient>=0.9.0
python-keystoneclient>=0.6.0
python-novaclient>=2.15.0
python-swiftclient>=1.6
PyYAML>=3.1.0
requests>=1.1
six>=1.4.1
SQLAlchemy>=0.7.8,<=0.8.99
sqlalchemy-migrate>=0.8.2
stevedore>=0.14
WebOb>=1.2.3
WSME>=0.6
