pep8==1.4.5
pyflakes>=0.7.2,<0.7.4
flake8==2.0
hacking>=0.5.6,<0.8
coverage>=3.6
discover
httplib2
mock>=1.0
mox>=0.5.3
fixtures>=0.3.14
Babel>=0.9.6
http://tarballs.openstack.org/nova/nova-master.tar.gz#egg=nova
swift
# Docs Requirements
sphinx>=1.1.2
sphinxcontrib-pecanwsme>=0.2
docutils==0.9.1
oslo.sphinx
python-subunit
testrepository>=0.0.17
testtools>=0.9.32
testscenarios>=0.4
