# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# Hacking already pins down pep8, pyflakes and flake8
hacking<0.11,>=0.10.0
Babel>=1.3
contextlib2>=0.4.0 # PSF License
coverage>=3.6
elasticsearch>=1.3.0
fixtures>=1.3.1
happybase!=0.7,>=0.5;python_version=='2.7'
httplib2>=0.7.5
mock>=1.2
PyMySQL>=0.6.2 # MIT License
# Docs Requirements
oslosphinx>=2.5.0 # Apache-2.0
reno>=0.1.1  # Apache2
oslotest>=1.10.0 # Apache-2.0
oslo.vmware>=1.16.0 # Apache-2.0
psycopg2>=2.5
pylint==1.4.4 # GNU GPL v2
pymongo>=3.0.2
python-subunit>=0.0.18
sphinx!=1.2.0,!=1.3b1,<1.3,>=1.1.2
sphinxcontrib-httpdomain
sphinxcontrib-pecanwsme>=0.8
testrepository>=0.0.18
testscenarios>=0.4
testtools>=1.4.0
gabbi>=1.1.4 # Apache-2.0
requests-aws>=0.1.4 # BSD License (3 clause)
tempest-lib>=0.8.0
WebTest>=2.0
