# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

coverage!=4.4,>=4.0 # Apache-2.0
eventlet>=0.30.1 # MIT
fixtures>=3.0.0 # Apache-2.0/BSD
os-win>=3.0.0 # Apache-2.0
oslo.messaging[kafka]>=8.0.0 # Apache-2.0
oslotest>=3.8.0 # Apache-2.0
oslo.vmware>=2.17.0 # Apache-2.0
pyOpenSSL>=17.5.0 # Apache-2.0
testscenarios>=0.4 # Apache-2.0/BSD
testtools>=2.2.0 # MIT
gabbi>=1.30.0 # Apache-2.0
requests-aws>=0.1.4 # BSD License (3 clause)
stestr>=2.0.0 # Apache-2.0
testresources>=2.0.1 # Apache-2.0
